In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel(r"D:\marketing_campaign.xlsx")

In [7]:
(dataset.Income).mean()

52247.25135379061

In [9]:
(dataset.Education).value_counts()

Education
Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: count, dtype: int64

In [10]:
(dataset.Marital_Status).value_counts()

Marital_Status
Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: count, dtype: int64

In [14]:
dataset[['MntFishProducts', 'MntMeatProducts', 'MntFruits', 'MntSweetProducts', 'MntWines', 'MntGoldProds']].sum()

MntFishProducts      84057
MntMeatProducts     373968
MntFruits            58917
MntSweetProducts     60621
MntWines            680816
MntGoldProds         98609
dtype: int64

In [16]:
dataset['NumWebVisitsMonth'].mean()

5.316517857142857

In [17]:
dataset[['NumDealsPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebPurchases']].sum()

NumDealsPurchases       5208
NumCatalogPurchases     5963
NumStorePurchases      12970
NumWebPurchases         9150
dtype: int64

In [18]:
dataset[['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5']].sum()

AcceptedCmp1    144
AcceptedCmp2     30
AcceptedCmp3    163
AcceptedCmp4    167
AcceptedCmp5    163
dtype: int64

In [20]:
dataset.Complain.mean()

0.009375

In [22]:
dataset.Complain.value_counts()

Complain
0    2219
1      21
Name: count, dtype: int64

In [28]:
dataset.Recency.max()

99

In [29]:
dataset.Income.max()

666666.0

In [31]:
dataset.Income.min()

1730.0